<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>信息管理系统界面</title>
        <link rel="shortcut icon" href="/static/images/icon.png"/>
        {$css}
    </head>
    <body>
        <!-- top start -->
        <div class="topPage">
            <div class="topleft">
                <a href="main.html" target="_parent"><img src="/static/images/logo.png" title="系统首页" /></a>
            </div>
            <div class="topright">    
                <ul>		    
                    <li><a href="javascript:;" id="logout">退出</a></li>
                </ul>	     
                <div class="user">
                    <span>{$Think.session.groupname} {$Think.session.real},你好！</span>
                </div>
            </div>
        </div>
        <!-- top end -->

        <!-- 中间 -->
        <div class="mainPage">