<!-- 左边 start -->
<div class="leftPage">
    <div class="lefttop"><span></span>菜单</div>    
    <dl class="leftmenu">	        
        <dd>
            <div class="title">
                <span><img src="/static/images/leftico01.png" /></span>管理信息
            </div>
            <ul class="menuson">		                       
                <li {eq name="Request.controller" value="Record"} class="active"{/eq}>
                    <div class="header">
                        <cite></cite>
                        <a href="{eq name='Request.action' value='rlist'}javascript:;{else/}{:url('admin/Record/rlist')}{/eq}">肌肤测评管理</a>
                        <i></i>
                    </div>
<!--                    <ul class="sub-menus" {eq name="Request.controller" value="Index"}style="display:block" {/else}class="hidden"{/eq}>
                        <li {eq name='Request.action' value='bgimage'}class="active"{/eq}>
                            <a href="{eq name='Request.action' value='bgimage'}javascript:;{else/}{:url('admin/index/bgimage')}{/eq}">背景管理</a>
                        </li>
                        <li {eq name='Request.action' value='concept'}class="active"{/eq}>
                            <a href="{eq name='Request.action' value='concept'}javascript:;{else/}{:url('admin/index/concept')}{/eq}">产品理念管理</a>
                        </li>
                    </ul>-->
                </li>
                
                <li {eq name="Request.controller" value="Admin"} class="active"{/eq}>
                    <div class="header">
                        <cite></cite>
                        <a href="{eq name='Request.action' value='index'}javascript:;{else/}{:url('admin/admin/index')}{/eq}">用户管理</a>
                        <i></i>
                    </div>                
                </li>
                               
            </ul>    
        </dd> 	    
    </dl>
</div>
<!-- 左边 end -->