<body>
    <div class="wrapper" id="wrapper">
        <div id="scroller">
            <div id="pullDown">
                <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
            </div>
            <ul id="thelist">
                {volist name="xilies" id="vo"}
                <li>
                    <a href="{:url('front/product/plist', 'xid='.$key)}" class="clearBoth">
                        <div class="series-picture">
                            <img src="{$vo.logo}" alt="">
                        </div>
                        <div class="series-title series-o">{$vo.name}</div>
                        <div class="series-in">
                            <img src="/static/front/images/right.png" alt="">
                        </div>
                    </a>
                </li>
                {/volist}           
            </ul>
            
            <div id="pullUp" {lt name="xilies|count" value="8"}style="display:none"{/lt}>
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
            </div>           
        </div>
    </div>
</body>
<script>
    var moreUrl = "{:url('@api/xilie/doXlist')}";
</script>