<!-- 右边 start -->
<div class="rightPage">
    <div class="rightPagein">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="javascript:;">管理信息</a></li>
                <li><a href="javascript:;">会员等级管理</a></li>
            </ul>
        </div>	    
        <div class="rightinfo">    
            <div class="tools">			    
                <ul class="toolbar">
                    <li class="click"><span><img src="/static/images/t01.png" /></span>添加</li>
                    <li><span><img src="/static/images/t03.png" /></span>删除</li> 
                </ul>	
            </div>	
            <table id="typeList" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style=""><input type="checkbox" class="checkall" /></th>
                        <th>等级名称</th>
                        <th>入会条件</th>
                        <th>产品优惠</th>
                        <th>美甲优惠</th>
                        <th>美睫优惠</th>
                        <th>定制服务</th>
                        <th>生日尊享</th>
                        <th>尊享服务</th>
                        <th>专属服务</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
            </table>            
        </div>
    </div>
</div>
<form id="form" class="hidden">
    <div class="formbody">       
        <div class="formtitle"><b><span></span><span>会员等级</span></b></div>        
        <ul class="forminfo">
            <input type="hidden" name="id"/>            
            <li>
                <label>等级名称</label>
                <input name="name" type="text" class="dfinput" placeholder="必填,等级名称最少2个字且不能超过50个字符" value=""/><b></b>
            </li>
            <li>
                <label>入会条件</label>
                <input name="conditions" type="text" class="dfinput" placeholder="必填且入会条件不能超过50个字符" value=""/><b></b>
            </li>
            <li>
                <label>产品优惠</label>
                <input name="product_discount" type="text" class="dfinput" placeholder="产品优惠不能超过50个字符" value=""/><b></b>
            </li>
            <li>
                <label>美甲优惠</label>
                <input name="meijia_discount" type="text" class="dfinput" placeholder="美甲优惠不能超过50个字符" value=""/><b></b>
            </li>
            <li>
                <label>美睫优惠</label>
                <input name="meijie_discount" type="text" class="dfinput" placeholder="入会条件不能超过50个字符" value=""/><b></b>
            </li>
            <li>
                <label>定制服务</label>
                <input name="customized_service" type="text" class="dfinput" placeholder="定制服务不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>生日尊享</label>
                <input name="birthday_treat" type="text" class="dfinput" placeholder="生日尊享不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>超值体验</label>
                <input name="experience" type="text" class="dfinput" placeholder="超值体验不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>营养餐</label>
                <input name="meal" type="text" class="dfinput" placeholder="营养餐不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>社交圈</label>
                <input name="social_circle" type="text" class="dfinput" placeholder="社交圈不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>预约服务</label>
                <input name="appoint_service" type="text" class="dfinput" placeholder="预约服务不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>品牌优惠</label>
                <input name="brand_discount" type="text" class="dfinput" placeholder="品牌优惠不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>参与活动</label>
                <input name="activity_privilege" type="text" class="dfinput" placeholder="参与活动不能超过200个字符" value=""/><b></b>
            </li>
            <li>
                <label>尊享服务</label>
                <input name="zunxiang_service" type="text" class="dfinput" placeholder="尊享服务不能超过200个字符" value=""/><b></b>
            </li>           
            <li>
                <label>专属服务</label>
                <input name="special_service" type="text" class="dfinput" value="" placeholder="专属服务不能超过200个字符"/>
            </li>
            <!--<li><label>文章内容</label><textarea name="" cols="" rows="" class="textinput"></textarea></li>-->
            <li style="margin-top: 25px;margin-bottom: 40px;">
                <input type="button" class="btn btn-primary submitBtn" value=""/>
            </li>
        </ul>
    </div>
</form>
<!-- 右边 end -->
<script>
    var delUrl = "{:url('@api/Memberlevel/doDelMemberLevel')}";
    var addUrl = "{:url('@api/Memberlevel/doAddMemberLevel')}";
    var editUrl = "{:url('@api/Memberlevel/doEditMemberLevel')}";
    var viewUrl = "{:url('@api/Memberlevel/viewMemberLevel')}";
    var dTable;
</script>
