<!-- 右边 start -->
<div class="rightPage">
    <div class="rightPagein">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="javascript:;">管理信息</a></li>
                <li><a href="javascript:;">门店管理</a></li>
            </ul>
        </div>	    
        <div class="rightinfo">    
            <div class="tools">			    
                <ul class="toolbar">
                    <li class="click"><span><img src="/static/images/t01.png" /></span>添加</li>
                    <li><span><img src="/static/images/t03.png" /></span>删除</li> 
                </ul>	
            </div>	
            <table id="typeList" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style=""><input type="checkbox" class="checkall" /></th>
                        <th>编号</th>
                        <th>门店名称</th>
                        <th>排序</th>
                        <th>创建时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
            </table>            
        </div>
    </div>
</div>
<form id="form" class="hidden">
    <div class="formbody">       
        <div class="formtitle"><b><span></span><span>门店</span></b></div>        
        <ul class="forminfo">
            <input type="hidden" name="id"/>            
            <li>
                <label>门店名称</label>
                <input name="name" type="text" class="dfinput" placeholder="必填,等级名称最少2个字且不能超过255个字符" maxlength="255" value=""/><b></b>
            </li>
            <li>
                <label>排序</label>
                <input name="sort" type="number" class="dfinput" placeholder="必须填数字且越大越靠前，不填默认0" value=""/><b></b>
            </li>           
            <!--<li><label>文章内容</label><textarea name="" cols="" rows="" class="textinput"></textarea></li>-->
            <li style="margin-top: 25px;margin-bottom: 40px;">
                <input type="button" class="btn btn-primary submitBtn" value=""/>
            </li>
        </ul>
    </div>
</form>
<!-- 右边 end -->
<script>
    var delUrl = "{:url('@api/Store/doDelStore')}";
    var addUrl = "{:url('@api/Store/doAddStore')}";
    var editUrl = "{:url('@api/Store/doEditStore')}";
    var viewUrl = "{:url('@api/Store/viewStore')}";
    var dTable;
</script>
