html, body{background:#fff;}
.wrapper h1{text-align:center;background:#fafafa;height:0.68rem;line-height:0.68rem;font-size:0.24rem;color:#f00;}
#formDiv{background:#fff;padding:0 2%;box-sizing:border-box;font-size:0.2rem;}
#formDiv li{height:0.68rem;line-height:0.68rem;border-bottom:1px solid #c8c7cc;}
#formDiv li:last-child{border-bottom:none;}
#formDiv label{display:block;float:left;width:26%;line-height:0.68rem;text-align:right;margin-right:0.24rem;}
.fill-in-area{float:left;width:60%;line-height:0.68rem;}
.fill-in-area input[type="radio"]{vertical-align:middle;margin-right:0.04rem;}
.fill-in-area span{margin-right:0.28rem;}
input[type="text"]{height:0.68rem;line-height:0.68rem;border:none;outline:none;width:100%;background:none;}
select{height:0.68rem;border:none;outline:none;}
.time input{width:40%;}
.submitBtn{display:block;background:#04a0ed;margin:0 auto;width:1.4rem;height:0.68rem;text-align:center;line-height:0.68rem;border-radius:4px;color:#fff;font-size:0.20rem;margin-top:0.48rem;}
.submitBtn:hover{color:#fff;text-decoration:none;}
.number{display:none;}