<body>
    <div class="wrapper">
        <img src="{$bg_img}" alt="">
        <div class="bottom">
            <dl class="float-left menu">
                <dd>
                    <a href="{:url('front/product/xilies')}">系列</a>
                </dd>
                <dt>
                    <a href="{:url('front/product/types')}">类型</a>
                </dt>
            </dl>
            <dl class="float-left menu">
                <dd>
                    <a href="{:url('front/appointment/appointAdd')}">预约</a>
                </dd>
                <dt>
                    <a href="{:url('front/index/concept')}">品牌理念</a>
                </dt>
            </dl>
            <dl class="float-left menu">
                <dd>
                    <a href="{$comment_url}">点评</a>
                </dd>
                <dt>
                    <a href="{:url('front/memberlevel/mlist')}">VIP</a>
                </dt>
            </dl>
        </div>
    </div>
</body>