<body>
    <div class="wrapper">
        <h1>{$level.name}</h1>
        <div class="vip-content">
            <table>
                <tr>
                    <td class="width-32">入会条件</td>
                    <td class="width-60">{$level.conditions}</td>
                </tr>
                <tr>
                    <td class="width-32">产品优惠</td>
                    <td class="width-60">{$level.product_discount}</td>
                </tr>
                <tr>
                    <td class="width-32">美甲服务</td>
                    <td class="width-60">{$level.meijia_discount}</td>
                </tr>
                <tr>
                    <td class="width-32">美睫服务</td>
                    <td class="width-60">{$level.meijie_discount}</td>
                </tr>
                <tr>
                    <td class="width-32">定制服务</td>
                    <td class="width-60">{$level.customized_service}</td>
                </tr>
                <tr>
                    <td class="width-32">生日尊享</td>
                    <td class="width-60">{$level.birthday_treat}</td>
                </tr>
                <tr>
                    <td class="width-32">超值体验</td>
                    <td class="width-60">{$level.experience}</td>
                </tr>
                <tr>
                    <td class="width-32">营养餐</td>
                    <td class="width-60">{$level.meal}</td>
                </tr>
                <tr>
                    <td class="width-32">社交圈</td>
                    <td class="width-60">{$level.social_circle}</td>
                </tr>
                <tr>
                    <td class="width-32">预约服务</td>
                    <td class="width-60">{$level.appoint_service}</td>
                </tr>
                <tr>
                    <td class="width-32">品牌优惠</td>
                    <td class="width-60">{$level.brand_discount}</td>
                </tr>
                <tr>
                    <td class="width-32">参与活动</td>
                    <td class="width-60">{$level.activity_privilege}</td>
                </tr>
                <tr>
                    <td class="width-32">尊享服务</td>
                    <td class="width-60">{$level.zunxiang_service}</td>
                </tr>
                <tr>
                    <td class="width-32">专属服务</td>
                    <td class="width-60">{$level.special_service}</td>
                </tr>
            </table>
        </div>
    </div>
</body>